@use 'abstracts/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: $dark-cyan;
  font-family: 'Kumbh Sans', sans-serif;
  background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg"), $dark-cyan;
  background-repeat: no-repeat;
  background-position: right 52vw bottom 35vh, left 49vw top 49vh;
}

.card {
  background-size: 100% 8.75rem;
  background: white url("../images/bg-pattern-card.svg") no-repeat;
  border-radius: .9rem;
  color: #6B7082;
  max-height: 23.375rem;
  margin: 9.2rem auto;
  padding-top: 13rem;
  position: relative;
  text-align: center;
  width: 20.375rem;

  @media screen and (min-width: 567px) {
    width: 21.875rem;
  }

  hr {
    border: solid 1px #E8E9EC;
    margin-bottom: 2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
  }

  &__image {
    border: solid white 0.3rem;
    border-radius: 50%;
    height: 6rem;
    left: 50%;
    margin: -3rem;
    position: absolute;
    top: 8rem;
    width: 6rem;
  }

  &__location {
    font-size: .875rem;
    padding-bottom: 2rem;
  }

  &__name {
    font-size: 1.125rem;
    margin-bottom: .5rem;

    span {
      color: #2E3349;
      font-weight: 700;
    }
  }

  &__stat {
    margin-bottom: 2rem;

    span {
      color: #2E3349;
      display: block;
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: .25rem;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.footer {
  .attribution {
    padding-top: 1rem;
    font-size: 11px; text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}